= form_for [:seller,@coupon] do |f|
  = f.error_messages

  = field_set_tag "优惠卷信息" do
    %dl
      %dt= f.label :product_categories, t('shoppe.product_category.product_categories')
      %dd= f.collection_select :product_category_id, ProductCategory.ordered, :id, :name, {:prompt => false}, {:class => 'chosen', :multiple => false, :data => {:placeholder => t('shoppe.product_category.choose_product_category') } }
    %dl
      %dt= f.label :coupon_type, '类型'
      %dd= f.select :coupon_type, Coupon::COUPON_TYPES.map { |a| [case a when 'full' then '满减' when 'discount' then '折扣' end, a]}, {}, :class => 'chosen-basic'
      -#.splitContainer
      -#  %dl.third
      -#    %dt= f.label :first_name, t('shoppe.customers.first_name')
      -#    %dd= f.text_field :first_name, class: 'text focus'
      -#  %dl.third
      -#    %dt= f.label :last_name, t('shoppe.customers.last_name')
      -#    %dd= f.text_field :last_name, class: 'text'
      -#  %dl.third
      -#    %dt= f.label :company, t('shoppe.customers.company')
      -#    %dd= f.text_field :company, class: 'text'
      -#.splitContainer
      -#  %dl.third
      -#    %dt= f.label :email, t('shoppe.customers.email')
      -#    %dd= f.email_field :email, class: 'text', :required => true
      -#  %dl.third
      -#    %dt= f.label :phone, t('shoppe.customers.phone')
      -#    %dd= f.telephone_field :phone, class: 'text', :required => true
      -#  %dl.third
      -#    %dt= f.label :mobile, t('shoppe.customers.mobile_phone')
      -#    %dd= f.text_field :mobile, class: 'text'
  = field_set_tag t('shoppe.products.pricing') do
    .splitContainer
      %dl.third
        %dt= f.label :exceed_val, '满'
        %dd
          .moneyInput
            .currency= Shoppe.settings.currency_unit.html_safe
            = f.text_field :exceed_val, :class => 'text'
      %dl.third
        %dt= f.label :val, '减/折'
        %dd
          .moneyInput
            .currency= Shoppe.settings.currency_unit.html_safe
            = f.text_field :val, :class => 'text'
      %dl.third
        %dt= f.label :amount, '张'
        %dd
          .moneyInput
            .currency= Shoppe.settings.currency_unit.html_safe
            = f.text_field :amount, :class => 'text'
      -#%dl.third
      -#  %dt= f.label :tax_rate_id, t('shoppe.products.tax_rate')
      -#  %dd= f.collection_select :tax_rate_id, TaxRate.ordered, :id, :description, {:include_blank => true}, {:class => 'chosen-with-deselect', :data => {:placeholder => t('shoppe.products.no_tax')}}
  %p.submit
    - unless @coupon.new_record?
      %span.right
        = link_to t('shoppe.customers.delete'),
                  @coupon,
                  class: 'button purple',
                  method: :delete,
                  data: {confirm: t('shoppe.customers.delete_confirmation')}
    = f.submit t('shoppe.customers.save'),
               class: 'button green',
               data: {disable_with: (@coupon.new_record? ? t('shoppe.customers.creating_customer') : t('shoppe.customers.updating_customer'))}
    = link_to t('shoppe.customers.cancel'), [:seller,:coupons], class: 'button'
