- @page_title = t('shoppe.customers.customers')

= content_for :header do
  %p.buttons
    = link_to t('shoppe.customers.new_customer'), :new_seller_coupon, class: 'button green'
    = link_to t('shoppe.customers.search_customer'), '#', class: 'button', rel: 'searchCustomers'
  %h2.users= t('shoppe.customers.customers')

-#= render 'search_form'

.table
  %table.data
    %thead
      %tr
        %th= 'ID'
        %th= '类型'
    %tbody
      - if @coupons.empty?
        %tr.empty
          %td{colspan: 5}= t('shoppe.customers.no_customers')
      - else
        - for coupon in @coupons
          %tr
            %td= coupon.id
            %td= case coupon.coupon_type when 'full' then '满减' when 'discount' then '打折' end
            -#%td= link_to customer.full_name, admin_customer_path(customer)
            -#%td= link_to customer.company, admin_customer_path(customer)
            -#%td= customer.email
            -#%td= customer.phone
            -#%td= customer.mobile
= paginate @coupons
