- @page_title = t('shoppe.delivery_services.delivery_services')

= content_for :header do
  %p.buttons= link_to t('shoppe.delivery_services.new'), :new_seller_delivery_service, class: 'button green'
  %h2.delivery_services= t('shoppe.delivery_services.delivery_services')

.table
  %table.data
    %thead
      %tr
        %th= 'ID'
        %th= '名字'
    %tbody
      - if @carriage_templates.empty?
        %tr.empty
          %td{colspan: 5}= t('shoppe.delivery_services.no_services')
      - else
        - for carriage_template in @carriage_templates
          %tr
            %td= carriage_template.id
            %td= link_to carriage_template.name, [:edit,:seller, carriage_template]
            -#%td= link_to t('shoppe.delivery_services.set_prices'), [:seller,delivery_service ,:delivery_service_prices]
            -#%td= delivery_service.courier
            -#%td= boolean_tag delivery_service.active?
            -#%td= boolean_tag delivery_service.default?
